<div class="container px-5 px-sm-0">
  <% if @book.errors.any? %>
    <div class="error-message">
      <% if @book.errors.count == 1 %>
        <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
      <% else %>
        <h3><%= @book.errors.count %> errors prohibited this obj from being saved:</h3>
      <% end %>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <%= render "left", user: @user %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <th>
                <a href="/users/<%= book.user_id %>"><%= image_tag book.user.get_profile_image(100, 100) %></a>
              </th>
              <th>
                <a href="/books/<%= book.id %>"><%= book.title %></a>
              </th>
              <th><%= book.body %></th>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
